.justify-content-end{
    background-color:rgba(222, 184, 135, 0.555);
    width: 100%;
    height: 80px;
}

.logo{
    width: 120px;
    height: 70px;
    margin-top: 5px;
}

.container{
    background-color: aqua;
    width: 70%;
}

.tab{
    font-size: 18px;
    font-family: ROBOTO;
    color: rgb(100, 100, 100);
}

.tab:hover{
    font-size: 19px;
    font-family: ROBOTO;
    color: rgb(0, 0, 0);
}